* {
  padding: 0;
  margin: 0;
}

.container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.container .row {
  height: 3.125rem;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.container .row .item {
  width: 25%;
  height: 100%;
}
